# 시작

In [2]:
3000*7

21000

In [6]:
print("hello python")
print (32)
print ('계산 :', 3000*2, '입니다')

hello python
32
계산 : 6000 입니다

In [9]:
sale = 10*2000
print("오늘 매출은 ", sale, "입니다")

오늘 매출은  20000 입니다

In [20]:
#성장율 = (이번달 매출 - 지난달 매출) / 지난달 매출 * 100
성장율 = (2000-1000)/1000 * 100
print ("이번달의 성장률은" , 성장율,"% 입니다")

이번달의 성장률은 100.0 % 입니다

In [23]:
이달매출 = 500
지난달매출 = 2500
성장율 = (이달매출-지난달매출)/지난달매출*100
print ("이번달의 성장율은" , 성장율,"% 입니다")

이번달의 성장율은 -80.0 % 입니다

In [29]:
이달매출 = input('이번달 매출액을 입력하세요')
지난달매출 = input ('지난달 매출액을 입력하세요')
print(이달매출,지난달매출)

이번달 매출액을 입력하세요 1000
지난달 매출액을 입력하세요 2000

1000 2000

In [1]:
#당신의 이름을 알려주세요
#이름님! 반갑습니다!
이름 = input ('당신의 이름을 알려주세요')
print (이름+ '님!', '반갑습니다!')

당신의 이름을 알려주세요 허유나

허유나님! 반갑습니다!

# Print()의 활용

In [2]:
가격 = 1000
수량 =10
매출 = 가격 * 수량 
print(매출)

10000

In [4]:
print("이번달 매출은", 매출, "입니다.", sep= " ")

이번달 매출은 10000 입니다.

In [10]:
#apple, banana, cherry
과일목록1 = 'apple'
과일목록2 = 'banana'
과일목록3 = 'cherry'
print(과일목록1, 과일목록2, 과일목록3, sep=', ')

apple, banana, cherry

In [12]:
print(과일목록1, 과일목록2, 과일목록3, sep='\n') #sep= ', '

apple
banana
cherry

In [15]:
12345, '12345'

(12345, '12345')

In [16]:
type(12345), type('12345')

(int, str)

In [17]:
data = 12345
data2 = '12345'
type(data), type(data2)

(int, str)

In [20]:
12345+10, '12345'+'10'

(12355, '1234510')

In [21]:
data+10, data2+10

TypeError: can only concatenate str (not "int") to str

In [24]:
name = 'yoona'
age = 20
#stringformat
print('나의 이름은 {}이고, 나이는 {}입니다.'.format(name, age))

나의 이름은 yoona이고, 나이는 20입니다.

In [25]:
#fstring
print(f"나의 이름은 {name}이고, 나이는 {age}입니다.")

나의 이름은 yoona이고, 나이는 20입니다.

In [28]:
#fstring
print(f"입력한 이름: {name}")
print(f"내년 나이: {age+1}")

입력한 이름: yoona
내년 나이: 21

In [30]:
int('10')

10

In [31]:
int(age)+1

21

In [32]:
type(int(age)+1)

int

In [33]:
age=20.8
type(age)

float

In [ ]:
student_name = 'yoona'
name_1 = 'yoona'

In [34]:
1_name = 'yoona'

SyntaxError: invalid decimal literal (117783736.py, line 1)

In [ ]:
x =10
a =20

In [ ]:
PI = 3.141592 #constant 상수

In [35]:
MAX_VALUE = 1000
MIN_VALUE = 0

In [36]:
input() #shift+tab
print(

SyntaxError: incomplete input (3742611273.py, line 2)

In [42]:
a = 30,20,10 #패킹
type(a), a

(tuple, (30, 20, 10))

In [39]:
x,y,z = a #언패킹
x,y,z

(30, 20, 10)

In [41]:
b=30,
type(b)

tuple

In [44]:
x,y,y1= a #언패킹
x,y

(30, 20)

In [45]:
a = 10
b = a
a,b

(10, 10)

In [46]:
id(a), id(b)

(140712419355352, 140712419355352)

In [48]:
a = 10
id(a)

140712419355352

In [ ]:
user_name = 'yoona' #snake
userName = 'yoona' #carmel
username = 'yoona'
_name = 'yoona' #private
__name __ = 'yoona' #double underscore 던더

In [50]:
a = "hi"
b = "Hi"
id(a), id(b)

(140712419398112, 2027325268224)

In [51]:
a = 'Hi'
id(a), id(b)

(2027325268224, 2027325268224)

In [ ]:
#변수의 영역 namespace
지역변수, 전역변수

In [58]:
def local_exam (): #사용자정의함수
    local_var = 100
    print(f"함수내부: {local_var}")

local_exam()
local_var = 200
local_exam()
print(f"함수외부: {local_var}")

함수내부: 100
함수내부: 100
함수외부: 200

In [68]:
counter = 0
def inc_counter():
    global counter
    counter = counter + 1
    print(counter)
    
inc_counter()
inc_counter()
inc_counter()

1
2
3