# 리스트

[ ] 대괄호로 여러 값을 하나의 변수로 묶어주는 자료구조

In [35]:
score = [20, 30, 50, 90, 100 ]
score[0] #첫번째 학생 점수
score [4], score [-1] #마지막 학생 점수

(100, 100)

In [46]:
fruits = ['사과', '바나나', '포도']
mixed = ['사과', 20, '바나나' , 30, True] 
matrix = [[1,2], [3,4]]

In [7]:
matrix[0],  matrix[0][0]

([1, 2], 1)

In [47]:
score2 = [10, (1,2,3,4), 20]
score2[1][3]  #score2에서 [1]--> (1,2,3,4) 거기서 [3]--> 4

4

In [27]:
print(score2)

[10, (1, 2, 3, 4), 20]

리스트는 순서가 있다 - 인덱싱과 슬라이싱이 된다

In [9]:
fruits = ['사과', '바나나', '포도']
fruits[0], fruits[1:3]

('사과', ['바나나', '포도'])

In [11]:
str(fruits)

"['사과', '바나나', '포도']"

In [15]:
s_list = 'Hello'
s_list[0] = 'h' #문자열은 변경 불가

TypeError: 'str' object does not support item assignment

In [16]:
n_list = list(s_list)
type (n_list)
n_list

['H', 'e', 'l', 'l', 'o']

In [19]:
n_list[0] = 'h'
n_list

['h', 'e', 'l', 'l', 'o']

In [24]:
str(n_list) #함수:기능의 모음 str처럼 객체가 없음, 기능의 집합

"['h', 'e', 'l', 'l', 'o']"

In [25]:
''.join(n_list) #메소드: 객체를 이용한 동작 객체에 종속되어있는 함수

'hello'

In [ ]:
# method, function 함수

In [ ]:
str()

In [26]:
dir('a')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
list('hello') #문자열로 리스트 생성하기

['h', 'e', 'l', 'l', 'o']

In [32]:
[1,2,3,4] #리스트 표현으로 생성하기

[1, 2, 3, 4]

In [31]:
list(1,2,3,4)

TypeError: list expected at most 1 argument, got 4

In [33]:
range(5) #range를 설정하고/ 객체임

range(0, 5)

In [34]:
a = range(5)
list(a) #리스트를 하면 범위가 나옴

[0, 1, 2, 3, 4]

In [37]:
list(range(2,20))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [38]:
type(a)

range

In [40]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## 복사, 얕은 복사 shallow copy

In [114]:
score = [10,20,30,40,50]
new_score = score#[:]
new_score

[10, 20, 30, 40, 50]

In [115]:
new_score[0] = 100
new_score

[100, 20, 30, 40, 50]

## 깊은 복사

In [116]:
import copy
new_score_1 = copy.copy(score)
print(new_score_1)
print(score)
new_score_1 [1]=99
new_score_1, score

[100, 20, 30, 40, 50]
[100, 20, 30, 40, 50]

([100, 99, 30, 40, 50], [100, 20, 30, 40, 50])

In [117]:
new_score_1 [0]=99
print(new_score_1)
print(score)

[99, 99, 30, 40, 50]
[100, 20, 30, 40, 50]

In [118]:
lunch_1 = ['마라탕', '마라샹궈', '떡볶이']
lunch_2 = ['짜장면', '짬뽕']
lunch_1 + lunch_2

['마라탕', '마라샹궈', '떡볶이', '짜장면', '짬뽕']

In [119]:
lunch_1 * 2

['마라탕', '마라샹궈', '떡볶이', '마라탕', '마라샹궈', '떡볶이']

In [120]:
del lunch_1[0]
lunch_1

['마라샹궈', '떡볶이']

In [121]:
'떡볶이' in lunch_1

True

In [57]:
'a' in 'abcd'

True

In [2]:
snack_box = ['고소미']
#먹고 싶은 간식을 입력받아서 추가하세요
new_snack = input('먹고 싶은 간식을 알려주세요').split(',')
snack_box += new_snack
snack_box

먹고 싶은 간식을 알려주세요 두쫀쿠, 초코파이, 마이쮸

['고소미', '두쫀쿠', ' 초코파이', ' 마이쮸']

In [3]:
n = int(input('몇 박스가 필요하세요?'))
snack_box *= n
snack_box

몇 박스가 필요하세요? 2

['고소미', '두쫀쿠', ' 초코파이', ' 마이쮸', '고소미', '두쫀쿠', ' 초코파이', ' 마이쮸']

In [4]:
#빼고 싶은 간식이 있으면 번호를 입력하세요
del_n = int(input('빼고 싶은 간식이 있으면 번호를 입력하세요.'))-1
del snack_box[del_n]
snack_box

빼고 싶은 간식이 있으면 번호를 입력하세요. 2

['고소미', ' 초코파이', ' 마이쮸', '고소미', '두쫀쿠', ' 초코파이', ' 마이쮸']

In [5]:
#찾고 있는 간식이름을 입력하세요
f_name = input('찾고 있는 간식이름을 입력하세요: ').strip()
if f_name in snack_box:
    print('있어요!!')
else :
    print('없네요...')

찾고 있는 간식이름을 입력하세요:  두쫀쿠

있어요!!

In [6]:
#전체 간식이름을 거꾸로 뒤에서부터 출력하세요
snack_box.reverse()
print(snack_box)

[' 마이쮸', ' 초코파이', '두쫀쿠', '고소미', ' 마이쮸', ' 초코파이', '고소미']

In [8]:
lunch_1 = ['주먹밥', '치킨', '칼국수']
lunch_2 = ['주먹밥', '치킨', '칼국수']
lunch_1 == lunch_2

True

In [9]:
id(lunch_1) == id(lunch_2)

False

In [11]:
lunch_1 is lunch_2 #객체가 같은지

False

In [19]:
students = [{'num': '1', 'name' : 'kim', 'kor' :80, 'math': 90, 'eng': 100,},
            {'num': '2', 'name' :'heo', 'kor' :90, 'math': 90, 'eng': 95,},
            {'num': '3', 'name' :'lee', 'kor' :70, 'math': 85, 'eng': 96,}]

In [43]:
print(students[0]) #for문으로 간단히
print(students[1])
print(students[2])

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270}
{'num': '2', 'name': 'heo', 'kor': 90, 'math': 90, 'eng': 95, 'total': 275}
{'num': '3', 'name': 'lee', 'kor': 70, 'math': 85, 'eng': 96, 'total': 251}

In [28]:
#인덱싱하기
students[2] ['name']

'lee'

In [49]:
for s in students: #한번에 하나씩 꺼내
    s['total'] = s['kor']+s['math']+s['eng']
    print(s['total'])
    print('\n')

# 간소하게 simple하게 처리하기 위해서

270


275


251

In [54]:
for s in students: #한번에 하나씩 꺼내
    s['total'] = s ['kor']+s['math']+s['eng']
    s['avg'] = round (s ['total'] / 3,2) #round 2자릿수까지 자름
    print(s['avg'])

90.0
91.67
83.67

In [53]:
for stu in students:
    print(stu)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100, 'total': 270, 'avg': 90.0}
{'num': '2', 'name': 'heo', 'kor': 90, 'math': 90, 'eng': 95, 'total': 275, 'avg': 91.67}
{'num': '3', 'name': 'lee', 'kor': 70, 'math': 85, 'eng': 96, 'total': 251, 'avg': 83.67}

# 리스트의 정렬

In [55]:
num = [5,2,9,3,4]
num.sort() #num 자체에 sort

In [56]:
num

[2, 3, 4, 5, 9]

In [61]:
num = [5,2,9,3,4]
new_num = sorted(num)

In [62]:
num

[5, 2, 9, 3, 4]

In [63]:
new_num

[2, 3, 4, 5, 9]

In [ ]:
# 순위는 다음에..

In [ ]:
# 리스트의 메소드

In [65]:
fruits = ['사과', '홍시', '포도', '복숭아']
fruits.append('멜론')
fruits

['사과', '홍시', '포도', '복숭아', '멜론']

In [80]:
fruits.insert(1,'수박')

In [81]:
fruits

['사과', '수박', '홍시', '포도', '복숭아', '멜론']

In [87]:
fruits.insert(0,'딸기')

In [88]:
fruits

['딸기', '사과', '수박', '홍시', '포도', '복숭아', '멜론']

In [89]:
fruits.pop()

'멜론'

In [90]:
fruits

['딸기', '사과', '수박', '홍시', '포도', '복숭아']

# 리스트의 특징

In [95]:
data = list(range(-100,100))
print(len(data))

200

In [96]:
#리스트에 양수만 남긴다
for x in data : 
    if x < 0 :
        data.remove(x) # --> 큰 리스트의 반복 수정은 비용이 큼 → 누적 후 일괄 처리하는 것이 좋습니다.

In [97]:
data

[-99,
 -97,
 -95,
 -93,
 -91,
 -89,
 -87,
 -85,
 -83,
 -81,
 -79,
 -77,
 -75,
 -73,
 -71,
 -69,
 -67,
 -65,
 -63,
 -61,
 -59,
 -57,
 -55,
 -53,
 -51,
 -49,
 -47,
 -45,
 -43,
 -41,
 -39,
 -37,
 -35,
 -33,
 -31,
 -29,
 -27,
 -25,
 -23,
 -21,
 -19,
 -17,
 -15,
 -13,
 -11,
 -9,
 -7,
 -5,
 -3,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [101]:
# for x in data : 
    # if x < 0 :
        # data.remove(x)
filtered = []
for x in data:
    if x >= 0 :
        filtered.append(x)

In [102]:
#data
filtered

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
#[1,3,5,4,2] -> [5,4,3,2,1]

In [105]:
num = [1,3,5,4,2]
num.sort()
num.reverse()

In [106]:
num

[5, 4, 3, 2, 1]

In [ ]:
#['life', 'is', 'too','short'] -> "life is too short"

In [135]:
quoat = ['life', 'is', 'too','short']
' '.join(quoat)

'life is too short'

In [ ]:
#[1,3,5,7,9] -> [3,5,7,9,1]

In [133]:
num = [1,3,5,7,9]
num = [1,3,5,7,9]
first = num.pop(0)
num.append(first)
num

[3, 5, 7, 9, 1]

# 튜플

In [139]:
tuple1 = 1,2,3
tuple1, type(tuple1)

((1, 2, 3), tuple)

In [138]:
1,2,3 #출력값에 소괄호가 다 되어있음 결론은 튜플임

(1, 2, 3)

In [140]:
tuple2 = tuple([1,2,3])
tuple2

(1, 2, 3)

In [142]:
t3 = (2)
t3, type(t3)

(2, int)

In [144]:
t3 = (2,) #콤마 넣어주면 튜플이됌
t3, type(t3)

((2,), tuple)

In [145]:
t = (10,20,30,40,50) #튜플도 인덱싱 가능
t[1], t[-1]

(20, 50)

In [147]:
t = (10,20,30,40,50) #슬라이싱 가능
t[2:4]

(30, 40)

In [150]:
t[::-1] #시퀀스가 있다

(50, 40, 30, 20, 10)

In [151]:
t[0] = 20

TypeError: 'tuple' object does not support item assignment

In [152]:
t_list = list(t)
t_list[0] = 20
t_new = tuple(t_list)
t_new

(20, 20, 30, 40, 50)

In [ ]:
#패킹, 언패킹

In [153]:
nums = [1,2,3]
nums

[1, 2, 3]

In [155]:
nums = (1,2,3) #패킹
x,y,z = nums
x,y,z, nums #언패킹

(1, 2, 3, (1, 2, 3))

In [156]:
student = ['hong', 20, '1학년']
student [0] + " "+ str(student[1])+" "+student[2]

'hong 20 1학년'

In [157]:
student_tuple = ('hong', 20, '1학년')

In [159]:
name, age, grade = ('hong', 20, '1학년')

In [160]:
name + str(age) + grade

'hong201학년'

In [ ]:
x=1
y=2
#x=2, y=1

In [161]:
tmp = x #빈자리 생기게 하기 
x = y 
y = tmp

In [162]:
x,y

(2, 1)

In [163]:
x,y = y,x

In [164]:
x,y

(1, 2)

# 딕셔너리

In [165]:
person = {'이름':'alice' , 'age': 25, 'city':'서울' } 
person_1 = {'이름': 'yoona', 'age': 22, 'city':'일산'}

In [167]:
person['이름'] #인덱싱이나 슬라이싱은 모두 대괄호로 한다.

'alice'

In [168]:
person['age']

25

In [169]:
person['city']

'서울'

In [172]:
for per in person.values(): 
    print(per) #key:value 1쌍

alice
25
서울

In [173]:
for per, val in person. items():
    print(per, val)

이름 alice
age 25
city 서울

In [174]:
person.get('직업')

In [175]:
person.get('age')

25

In [176]:
print(person.keys())

dict_keys(['이름', 'age', 'city'])

In [177]:
print(person.values())

dict_values(['alice', 25, '서울'])

In [178]:
print(person.items())

dict_items([('이름', 'alice'), ('age', 25), ('city', '서울')])

In [179]:
print(person.pop('age'))

25

In [181]:
for k in person.keys():
    print(k)

이름
city

# 집합

In [182]:
집합1 = set([1,2,3,4])
집합1

{1, 2, 3, 4}

In [183]:
집합2 = set([1,2,3,4,4,3])
집합2

{1, 2, 3, 4}

In [184]:
집합3 = set([1,2,3,4]*10)
집합3

{1, 2, 3, 4}

In [185]:
dir(3)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
# 집합연산
union(), intersection(), difference()