In [3]:
print("C:\\Windows")

C:\Windows

In [4]:
 MPH = 0.6214 * KMH

NameError: name 'KMH' is not defined

### 피드백(수업시간)

In [21]:
kmh = int(input("현재 속도를 km/h 로 입력하세요."))#피드백
M_VALUE = 0.6214 #상수
print(type (M_VALUE), type(kmh), kmh)

mph = M_VALUE * kmh
print(f' {kmh}를 mph로 변환하면 {mph}입니다')
#kmh * hour

현재 속도를 km/h 로 입력하세요. 20

<class 'float'> <class 'int'> 20
 20를 mph로 변환하면 12.427999999999999입니다

In [22]:
#일반적인 활용
kmh = int(input("현재 속도를 km/h 로 입력하세요."))
if kmh > 0:
    mph = M_VALUE * kmh
    print(f' {kmh}를 mph로 변환하면 {mph}입니다.')
else :
    print('속도는 양수로 입력하세요.')

현재 속도를 km/h 로 입력하세요. -20

속도는 양수로 입력하세요.

In [35]:
import calendar
theyear = int(input ('연도를 입력하세요'))
themonth = int(input('월을 입력하세요(1~12) '))
if 1 <= themonth <= 12:  #1보다 크거나 작고, 12보다는 작거나 같다.또는 0 < themonth < 13:
    print(calendar.month(theyear, themonth))
else:
    print("월은 1~12 사이 숫자로 입력하세요")

연도를 입력하세요 2026
월을 입력하세요(1~12)  1

    January 2026
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [45]:
num_1 = float(input('실수(예. 1.1)를 입력하세요'))
num_2 = float(input('실수(예. 1.222)를 한번더 입력하세요'))

mul = num_1 * num_2
addition = num_1 + num_2
output = f'First is {num_1}, and second is {num_2}. '\
        + f'So, Multiplication = {mul:.3f}, '\
        + f'addition = {addition:.2f}'
print(output)

실수(예. 1.1)를 입력하세요 1.1
실수(예. 1.222)를 한번더 입력하세요 1.222

First is 1.1, and second is 1.222. So, Multiplication = 1.344, addition = 2.32

In [46]:
x = 10
x = 20
x = 15 #마지막에 대입한 수만 결과로 출력된다.
x, type(x)

(15, int)

In [47]:
y=3
z = x/y
z, type(z)

(5.0, float)

In [48]:
a = 11
b = 7
area = a*b
perimeter = 2* (a+b)

In [51]:
x = int(input('홀짝을 판별할 숫자를 입력하세요'))
remainder = x % 2
if remainder == 1 : #비교 == 같은가?
    print(f'{x}는 홀수입니다.')
else : 
    print(f'{x}는 짝수입니다.')

홀짝을 판별할 숫자를 입력하세요 5

5는 홀수입니다.

In [53]:
a = 20
area = 6 * (a ** 2)
volume = a**3

In [55]:
x = 4 ; y = 2;
z = abs( x - y * (x + y))

In [ ]:
price = 
is_discount = 
if is_discount = true 
print()

In [2]:
price = 1000
is_discount = False
final_price = 0

if is_discount :
    final_price = price * (1-0.1)
else :
    final_price = price
    
print(final_price) #final price가 있어서 else가 필요하다

1000

In [9]:
phone_number = input('휴대전화 번호 입력:').split('-')
phone_number 
#리스트

휴대전화 번호 입력: 011-345-1922

['011', '345', '1922']

In [8]:
phone_number = input('휴대전화 번호 입력:').split('-')[0]
phone_number
#[0]붙여서 인덱싱(?) 011만 꺼내기

휴대전화 번호 입력: 011-345-1922

'011'

In [14]:
phone_number = input('휴대전화 번호 입력:').split('-')[0]
phone_number

telecom = None

if phone_number == '011' :
    telecom = 'SKT'
elif phone_number == '016' :
    telecom = 'KT'
elif phone_number == '019' :
    telecom = 'LGU'
elif phone_number == '010' :
    telecom = '알수없음'
else:
    telecom = '번호 확인 필요'

if telecom == '번호 확인 필요' :
    print(f'{telecom} ')
else :
    print(f'당신은 {msg} 통신사의 사용자입니다.')

휴대전화 번호 입력: 011-345-1922

당신은 SKT 통신사의 사용자입니다.

In [15]:
tel_co = {
    '011':'SKT',
    '016':'KT',
    '019':'LGU',
    '010':'알수없음'
}

phone_number = input('휴대전화 번호 입력: ').split('-')[0]
phone_number

msg = tel_co.get(phone_number, '번호확인필요')
print(f'당신은 {msg} 통신사의 사용자입니다.')
#딕셔너리 방법

휴대전화 번호 입력:  011-345-1922

당신은 SKT 통신사의 사용자입니다.

In [17]:
#짝수단 2,4,6,8
for i in range(2,10,2): #홀수는 (3,10,2)
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

In [20]:
#2~5단 (첫줄)
print("\n[2~4단]")
for i in range(1,3): #10줄 반복
    line = ""
    for dan in range(2,4): #3번 공백으로 연결
        #if dan % 2 == 0: #짝수단만
        line += f"{dan} x {i} = {dan*i:2d} "
    print(line)

# 6~9단(다음줄)

[2~4단]
2 x 1 =  2 3 x 1 =  3
2 x 2 =  4 3 x 2 =  6

In [4]:
user_input = input('정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q"')
str_int = user_input.split()
#int(user_input)
for num in str_int:
    print(int(num))

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" 10

10

In [6]:
user_input = input('정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q"')
str_int = user_input.split()
numbers = []


#int(user_input)
for num in str_int:
    numbers.append(int(num))
    print(int(num))

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" 10 20

10
20

In [7]:
user_input = input('정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q"')
str_int = user_input.split()
numbers = []


#int(user_input)
for num in str_int:
    if num == '0' :
        continue
    numbers.append(int(num))
    print(int(num))

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" 10 20 0

10
20

In [9]:
user_input = input('정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q"')
str_int = user_input.split()
numbers = []


#int(user_input)
for num in str_int:
    # if num == '0' :
    #     continue
    if num != '0':
        numbers.append(int(num))
    numbers.append(int(num))
    print(numbers)

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" 10 20

[10, 10]
[10, 10, 20, 20]

In [15]:
while True :
    user_input = input('정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q"')
    #종료 명령이면 break
    if user_input == 'q' :
        break
    str_int = user_input.split()
    numbers = []

    #int(user_input)
    for num in str_int:
        # if num == '0' :
        #     continue
        if num != '0':
            numbers.append(int(num))
            
    #입력받은 정수 리스트
    print(numbers)
    #입력한 숫자가 없습니다 체크
    if numbers == None : 
        print('입력한 숫자가 없습니다')
    #양수/음수 판정 
    plus_numbers = []
    minus_numbers = []
    for num in numbers:
        if num > 0 :
            plus_numbers.append(num)
        else :
            minus_numbers.append(num)
    pls_cnt = len(plus_numbers)
    minus_cnt = len(minus_numbers)
    total = sum(numbers)
    # print(plus_numbers, minus_numbers)
    print(f'양수 {pls_cnt}개 음수 {minus_cnt}개 총 합계: {total}')
    print()

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" 4

[4]
양수 1개 음수 0개 총 합계: 4

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" 90

[90]
양수 1개 음수 0개 총 합계: 90

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" -72

[-72]
양수 0개 음수 1개 총 합계: -72

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" q

In [19]:
vip_list = ['조인성','김우빈','정우성','유해진']

for vip in vip_list:
    print(f'{vip}님 안녕하세요?')
    print(f'화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 {vip}님을 초대합니다.')
    print('쿠폰 No.')
    print(f'{vip}님 축제에서 만나길 고대하겠습니다.') #왜 vip_list가 아니라 vip이지?

조인성님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 조인성님을 초대합니다.
쿠폰 No.
조인성님 축제에서 만나길 고대하겠습니다.
김우빈님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 김우빈님을 초대합니다.
쿠폰 No.
김우빈님 축제에서 만나길 고대하겠습니다.
정우성님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 정우성님을 초대합니다.
쿠폰 No.
정우성님 축제에서 만나길 고대하겠습니다.
유해진님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 유해진님을 초대합니다.
쿠폰 No.
유해진님 축제에서 만나길 고대하겠습니다.

In [21]:
vip_list = ['조인성','김우빈','정우성','유해진']
num = 1
for vip in vip_list:
    print(f'{vip}님 안녕하세요?')
    print(f'화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 {vip}님을 초대합니다.')
    print(f'쿠폰 No.{num}')
    num += 1
    print(f'{vip}님 축제에서 만나길 고대하겠습니다.') #왜 vip_list가 아니라 vip이지?

조인성님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 조인성님을 초대합니다.
쿠폰 No.1
조인성님 축제에서 만나길 고대하겠습니다.
김우빈님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 김우빈님을 초대합니다.
쿠폰 No.2
김우빈님 축제에서 만나길 고대하겠습니다.
정우성님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 정우성님을 초대합니다.
쿠폰 No.3
정우성님 축제에서 만나길 고대하겠습니다.
유해진님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 유해진님을 초대합니다.
쿠폰 No.4
유해진님 축제에서 만나길 고대하겠습니다.

In [3]:
#vip 목록을 입력 받는걸로 바꿔
name = input('vip 이름을 입력하세요: ')
num = 1

print(f'{name}님 안녕하세요?')
print(f'화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 {name}님을 초대합니다.')
print(f'쿠폰 No.{num}')
num += 1
print(f'{name}님 축제에서 만나길 고대하겠습니다.') #왜 vip_list가 아니라 vip이지?

vip 이름을 입력하세요:  유해진

유해진님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 유해진님을 초대합니다.
쿠폰 No.1
유해진님 축제에서 만나길 고대하겠습니다.

### 직접함... ㅜ

In [6]:
KMH = float(input("KMH 속도를 입력하세요: "))
MPH = 0.6214 * KMH
print(MPH)

KMH 속도를 입력하세요:  80

49.711999999999996

In [8]:
import calendar
theyear = 2026
themonth = 2
calendar .month(theyear, themonth)

'   February 2026\nMo Tu We Th Fr Sa Su\n                   1\n 2  3  4  5  6  7  8\n 9 10 11 12 13 14 15\n16 17 18 19 20 21 22\n23 24 25 26 27 28\n'

In [11]:
first = float(input("첫 번째 숫자를 입력하세요: "))
second = float(input("두 번째 숫자를 입력하세요: "))

multiplication = first * second
addition = first + second

print(
    f"First is {first}, and second is {second}. "
    f"So, Multiplication = {multiplication}, addition = {addition}"
)

첫 번째 숫자를 입력하세요:  4.3
두 번째 숫자를 입력하세요:  5.21

First is 4.3, and second is 5.21. So, Multiplication = 22.403, addition = 9.51

In [13]:
x = 10
x = 20
x = 15 #마지막에 대입한 수만 결과로 출력된다.
x

15

### 두번째 문제

In [3]:
price = 10000
is_discount = True 
if is_discount :
    price = price * 0.9
    print(price)
else:
    print(price)

9000.0

In [4]:
a = "Life is too short, you need python"
if "wife" in a: 
    print("wife")
elif "python" in a and "you" not in a: 
    print("python")
elif "shirt" not in a: 
    print("shirt")
elif "need" in a: 
    print("need")
else: 
    print("none")

shirt

In [14]:
num = (input('휴대전화 번호 입력: '))
if num [:3] == '011': 
    print('당신은 SKT 사용자입니다.')
elif num [:3] == '016':
    print('당신은 KT 사용자입니다.')
elif num [:3] == '019':
    print('당신은 LGU 사용자입니다.')
else:
    print('알수없음')

휴대전화 번호 입력:  011-345-1922

당신은 SKT 사용자입니다.

In [19]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [20]:
btc

{'opening_price': '132017000',
 'closing_price': '134400000',
 'min_price': '131617000',
 'max_price': '135151000',
 'units_traded': '398.65336226',
 'acc_trade_value': '53371871291.72167',
 'prev_closing_price': '132018000',
 'units_traded_24H': '565.89176002',
 'acc_trade_value_24H': '75487220045.50151',
 'fluctate_24H': '2180000',
 'fluctate_rate_24H': '1.65',
 'date': '1767591905864'}

In [21]:
btc['min_price']

'131617000'

In [29]:
opening = int(btc['opening_price'])
high = int(btc['max_price'])
low = int(btc['min_price'])

변동폭 = high - low

if opening + 변동폭 > high:
    print('상승장')
else:
    print('하락장')

상승장

In [22]:
#연도 날수계산
total_days = 0

for i in range(1,year): #2024년까지
    total_days += i*365

total_days, year
#월 날수 계산

# 연도 + 월 + 일 % 7 > 요일에 해당하는 수

NameError: name 'year' is not defined

### 세번째

양수음수분류기 다양한 개수의 정수를 입력받아, 각 수가 양수인지 음수인지 구분하여 각각의 개수를 출력하는 코드를 작성하시오.

- 입력으로부터 정수리스트로 변환하는 것은 한 줄 코드로 작성
- 입력 받은 값 중 0은 무시
- quit 를 입력하면 프로그램을 중지합니다.

In [3]:
while True: 
    user_input = input('정수를 입력하세요(quit 입력시 프로그램을 중지합니다) : ')
    #종료 명령이면 break
    if user_input == "quit" : 
        print("프로그램을 종료합니다.")
        break
    #리스트로 변환
    #양수/음수 판단 > 카운트
    #합계 계산
    #출력
    print(f'양수: 4개, 음수 2개, 합계: 102')

정수를 입력하세요(quit 입력시 프로그램을 중지합니다) :  6
정수를 입력하세요(quit 입력시 프로그램을 중지합니다) :  1
정수를 입력하세요(quit 입력시 프로그램을 중지합니다) :  5
정수를 입력하세요(quit 입력시 프로그램을 중지합니다) :  quit

프로그램을 종료합니다.

In [ ]:
def add()
print