# for 문

In [1]:
type(range(10))

range

In [ ]:
for i in (range(10)), range(10)

In [3]:
(range, range(0,10))

(range, range(0, 10))

In [ ]:
#1~100 사이의 4의 배수 출력하기 range(start,stop,step)

In [7]:
for i in range(4,100,4):
    print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [8]:
data = [0,1,2,3,4]
data

[0, 1, 2, 3, 4]

In [9]:
for var in data:
    print(var)

0
1
2
3
4

In [12]:
# data = ['james', 'robert', 'risa']
# data
data = 'Hello!'
data

'Hello!'

In [23]:
for var in data:
    print(var)

H
e
l
l
o
!

In [27]:
sum = 0
for i in range(1,100001):
    sum += i
print(sum)

5000050000

In [29]:
%%time
sum = 0
num = range(1,100001)

for i in num: 
    sum_value += i
print(sum_value)

CPU times: total: 0 ns
Wall time: 0 ns

NameError: name 'sum_value' is not defined

In [45]:
#문자열 순회
isUpper = False
isDigit = False
isSpecial = False
isLower = False
special_char = '!@#$%&*'

password = 'abc21!'
#비밀번호 조건 만족여부 확인
for char in password :
    if char.isupper() : #대문자인지 확인
        isUpper = True
    elif char.isdigit() : #숫자인지 확인
        isDigit = True
    elif char.islower():
        islower = True
    elif char in special_char : 
        isSpecial = True
    check_result = isUpper + isDigit + isLower + isSpecial
print(f"비밀번호 강도 조건 만족여부: { '만족' if check_result == 4 and isDigit else '불만족'}")

비밀번호 강도 조건 만족여부: 불만족

In [46]:
obj = range(1,4)
type(obj)

range

In [47]:
dir(obj)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [48]:
#방문자
visitor_ids = [101, 102, 103, 101, 104, 102, 105, 101, 103]
#순방문
unique_visitor = set(visitor_ids)
unique_visitor

{101, 102, 103, 104, 105}

In [49]:
print(f'총방문횟수 : {len(visitor_ids)}')
print(f'순방문지수 : {len(unique_visitor)}')
#고유방문자 목록 출력
for visitor_id in unique_visitor:
    print(f'사용자 #{visitor_id}')

총방문횟수 : 9
순방문지수 : 5
사용자 #101
사용자 #102
사용자 #103
사용자 #104
사용자 #105

# 중첩반복문

In [50]:
for i in range(5):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [ ]:
# i=0, j=0
# i=0 j=1~4
# i=1, j=0~4
# I=4, J=4

In [55]:
for j in range(2,10):
    for i in range(1,10):
        print(f'2*{i}={j*i}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*1=3
2*2=6
2*3=9
2*4=12
2*5=15
2*6=18
2*7=21
2*8=24
2*9=27
2*1=4
2*2=8
2*3=12
2*4=16
2*5=20
2*6=24
2*7=28
2*8=32
2*9=36
2*1=5
2*2=10
2*3=15
2*4=20
2*5=25
2*6=30
2*7=35
2*8=40
2*9=45
2*1=6
2*2=12
2*3=18
2*4=24
2*5=30
2*6=36
2*7=42
2*8=48
2*9=54
2*1=7
2*2=14
2*3=21
2*4=28
2*5=35
2*6=42
2*7=49
2*8=56
2*9=63
2*1=8
2*2=16
2*3=24
2*4=32
2*5=40
2*6=48
2*7=56
2*8=64
2*9=72
2*1=9
2*2=18
2*3=27
2*4=36
2*5=45
2*6=54
2*7=63
2*8=72
2*9=81

In [ ]:
구구단을 출력하세요
1. 짝수단, 홀수단 구분
2. 2~4단 첫줄, 5~9단 둘째줄에 출력

# 내장함수 enumerate()

In [57]:
char_list = ['a','b','c']
for idx, x in enumerate(char_list):
    print(idx, x)

0 a
1 b
2 c

In [58]:
list(enumerate(char_list))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [59]:
dir(enumerate(char_list))

['__class__',
 '__class_getitem__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [60]:
list(enumerate(char_list,1))

[(1, 'a'), (2, 'b'), (3, 'c')]

# 내장함수 zip()

In [61]:
char_list_1 = ['hello', 'hi', 'good-bye']
zip(char_list, char_list_1)

In [62]:
list(zip(char_list, char_list_1))

[('a', 'hello'), ('b', 'hi'), ('c', 'good-bye')]

In [ ]:
for item in zip(char_list, char_list_1):

In [68]:
char_obj = zip(char_list, char_list_1)
char_obj

In [69]:
for item in char_obj:
    print(item[1])

hello
hi
good-bye

In [70]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
cities = ['서울', '부산', '대구']

for name, age, city in zip(names, ages, cities):
    print(f"{name}은(는) {age}살이고 {city}에 살고 있습니다.")

Alice은(는) 25살이고 서울에 살고 있습니다.
Bob은(는) 30살이고 부산에 살고 있습니다.
Charlie은(는) 35살이고 대구에 살고 있습니다.

In [6]:
#날짜 입력받기
year = int(input('년도를 입력하시오: '))
month = int(input(' 월을 입력하시오: '))
day = int(input('일을 입력하시오: '))

# print('수요일입니다')

년도를 입력하시오:  2024
 월을 입력하시오:  03
일을 입력하시오:  15

In [7]:
import datetime
calc_day = datetime.date(year,month,day).weekday() #요일값 0~ 월~

week_day = ['월', '화', '수', '목', '금', '토', '일']
# week_day[calc_day]
print(f'{week_day[calc_day]}요일입니다')

금요일입니다

In [ ]:
# 총일수 % 7 -> calc_day
#입력일 : 2026-10-5
# 년도 1~2024 년도수 * 365 | 366
# 월: 1~9 월 * 30(4,6,9,11) | 31(1,3,5,7,8,10,12) | 28|29(2-윤년,평년)
#일:일

In [8]:
year,month,day

(2024, 3, 15)

In [9]:
# 연도 날수계산 
#1년 1월 1일부터 해당 날짜까지 지난 총 날짜 수를 구한다 → 그 값을 7로 나눈 나머지로 요일을 판별한다
total_days = 0

for i in range(1,year): #1년부터 2023년까지
    if i % 400 == 0: #윤년
        total_days += 366
    elif i % 100 == 0 : #평년
        total_days += 365
    elif i % 4 == 0 : #윤년
        total_days += 366
    else : #평년
        total_days += 365 

print(f'1st : {total_days}, {year}')

#여기까지는 1년 1월 1일부터 2024년 3월 15일까지 며칠이나 지났지?
# 그 다음은 그 숫자를 7로 나눠서 요일을 정함. 왜냐하면 요일은 7마다 반복되니깐.

# 2024년의 월기준 일수 계산
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days += month_days[m]
    
print(f'2nd : {total_days}, {year}')

#올해가 윤년인지 체크 +1 
if month >= 3 :
    #윤년체크
    if year % 400 == 0: #윤년
        total_days += 1
    elif year % 100 == 0 : #평년
        total_days += 0
    elif year % 4 == 0 : #윤년
        total_days += 1
    else : #평년
        total_days += 0 

print(f'3nd : {total_days}, {year}, {month}')       

total_days += day

print(f'final : {total_days}, {year}, {month}, {day}')   

# 연도 + 월 + 일 % 7 > 요일에 해당하는 수
remain = total_days % 7
result = None

if remain == 0:
    result = '일요일'
elif remain == 1:
    result = '월요일'
elif remain == 2:
    result = '화요일'
elif remain == 3:
    result = '수요일'
elif remain == 4:
    result = '목요일'
elif remain == 5:
    result = '금요일'
elif remain == 6:
    result = '토요일'

print(f'{year}년 {month}월 {day}일은 {result}입니다.')

1st : 738885, 2024
2nd : 738944, 2024
3nd : 738945, 2024, 3
final : 738960, 2024, 3, 15
2024년 3월 15일은 금요일입니다.

In [25]:
students = [{'num':'1','name':'kim', 'kor':80,'math':90,'eng':100,},
            {'num':'2','name':'park', 'kor':90,'math':60,'eng':80,},
            {'num':'3','name':'hong', 'kor':70,'math':70,'eng':80,},
            {'num':'4','name':'hong1', 'kor':70,'math':70,'eng':80,},
            {'num':'5','name':'hong2', 'kor':70,'math':70,'eng':80,},
           ]

In [ ]:
#학생별 총점, 평균, 순위 -> 속성추가 -> 출력 
#전체 총점, 평균 출력
#과목별 평균 출력

In [35]:
s = students[0] #첫 번째 학생 한 명 데이터만 꺼냄.
s

{'num': '1',
 'name': 'kim',
 'kor': 80,
 'math': 90,
 'eng': 100,
 'total': 270,
 'avg': 90.0,
 'rank': 1}

In [27]:
#딕셔너리 리스트를 반복문으로 돌려서 
#총점/평균/순위/과목별 평균까지 계산


for s in students: #리스트를 요소마다 순회
    print(s)
    for k,v in s.items(): #그 학생 딕셔너리를 다시 쪼갬 k = key, v = value
        print(k,v)

{'num': '1', 'name': 'kim', 'kor': 80, 'math': 90, 'eng': 100}
num 1
name kim
kor 80
math 90
eng 100
{'num': '2', 'name': 'park', 'kor': 90, 'math': 60, 'eng': 80}
num 2
name park
kor 90
math 60
eng 80
{'num': '3', 'name': 'hong', 'kor': 70, 'math': 70, 'eng': 80}
num 3
name hong
kor 70
math 70
eng 80
{'num': '4', 'name': 'hong1', 'kor': 70, 'math': 70, 'eng': 80}
num 4
name hong1
kor 70
math 70
eng 80
{'num': '5', 'name': 'hong2', 'kor': 70, 'math': 70, 'eng': 80}
num 5
name hong2
kor 70
math 70
eng 80

In [29]:
s['total'] = total
s['avg'] = avg
s['rank'] = 1

In [32]:
for s in students:
    total = s['kor'] + s['math']+ s['eng']
    s['total'] = total
    s['avg'] = total/3
    s['rank'] = 1

In [33]:
for a in students:
    for b in students:
        if a['total'] < b['total']:
            a['rank'] += 1

In [36]:
s = students[0] #첫 번째 학생 한 명 데이터만 꺼냄.
s

{'num': '1',
 'name': 'kim',
 'kor': 80,
 'math': 90,
 'eng': 100,
 'total': 270,
 'avg': 90.0,
 'rank': 1}

In [37]:
s = students[1] #첫 번째 학생 한 명 데이터만 꺼냄.
s

{'num': '2',
 'name': 'park',
 'kor': 90,
 'math': 60,
 'eng': 80,
 'total': 230,
 'avg': 76.66666666666667,
 'rank': 2}

In [40]:
s = students[3] #첫 번째 학생 한 명 데이터만 꺼냄.
s

{'num': '4',
 'name': 'hong1',
 'kor': 70,
 'math': 70,
 'eng': 80,
 'total': 220,
 'avg': 73.33333333333333,
 'rank': 3}

In [39]:
s = students[4] #첫 번째 학생 한 명 데이터만 꺼냄.
s

{'num': '5',
 'name': 'hong2',
 'kor': 70,
 'math': 70,
 'eng': 80,
 'total': 220,
 'avg': 73.33333333333333,
 'rank': 3}

In [42]:
s = students[2] #첫 번째 학생 한 명 데이터만 꺼냄.
s

{'num': '3',
 'name': 'hong',
 'kor': 70,
 'math': 70,
 'eng': 80,
 'total': 220,
 'avg': 73.33333333333333,
 'rank': 3}

# while 문

In [2]:
sum = 0 #sum이라는 변수를 초기화 
for i in range (1,11): #1,2,3 i에 들어있는거임 이런 시퀀스가
    sum += i #처리
    
sum #출력

55

In [4]:
#초기화
i = 1
sum = 0

while True : #조건문
    sum = sum + i
    i = i + 1
    if i >= 10 : #조건식
        break
    # i = i + 1
print(sum, i)

45 10

In [6]:
user_input = 0
while user_input != "Exit" :
    #True 인동안만 실행
    user_input = input('명령을 입력하세요 (Exit를 넣으면 종료합니다.)')
    print(f'입력하신 명력은 {user_input}입니다.')

print('Exit 명령을 입력하셨습니다.')

명령을 입력하세요 (Exit를 넣으면 종료합니다.) 야호

입력하신 명력은 야호입니다.

명령을 입력하세요 (Exit를 넣으면 종료합니다.) exit

입력하신 명력은 exit입니다.

명령을 입력하세요 (Exit를 넣으면 종료합니다.) Exit

입력하신 명력은 Exit입니다.
Exit 명령을 입력하셨습니다.

In [8]:
user_input = 0
while user_input != "끼야호" :
    #True 인동안만 실행
    user_input = input('명령을 입력하세요 (끼야호를 넣으면 종료합니다.)').lower()
    print(f'입력하신 명력은 {user_input}입니다.')

print('끼야호 명령을 입력하셨습니다.')

명령을 입력하세요 (끼야호를 넣으면 종료합니다.) 끼야호

입력하신 명력은 끼야호입니다.
끼야호 명령을 입력하셨습니다.

In [ ]:
while True: #무한루프
    #break 조건 필수
    print("이 코드는 계속 실행됩니다!")

In [ ]:
#for로도 할 수 있고 while 로도 할 수 있음 for로 하려면 카운터를 정의해야됌 
while로 하려면 카운터를 할 수 있는 조건을 준비해야됌

### 연습문제

In [9]:
for i in range(1,6) :
    print('*'*i)

*
**
***
****
*****

In [12]:
i = 1
while i < 6 :
    print('*'*i)
    i += 1

*
**
***
****
*****

### 업앤다운 게임

In [23]:
import random
number = random.randint(1,10)
number #컴퓨터의 선택

4

In [1]:
#정답 맞추기
cnt = 0
while True: 
    #입력받기
    answer = int(input('1~10 사이의 숫자를 맞추세요'))
    cnt += 1
    #조건
    if answer == number : #맞춘 경우
        print(f'축하합니다. you got it! 도전횟수: {cnt}')
        break
    elif answer > number :
        print('down')
    else :
        print('up')

1~10 사이의 숫자를 맞추세요 5

NameError: name 'number' is not defined